In [86]:
import pandas as pd

In [93]:
cells = pd.read_html('https://www.cia.gov/library/publications/the-world-factbook/fields/2151.html')

In [94]:
df=pd.DataFrame(cells[0])
df.columns = df.iloc[0]
df=df.reindex(df.index.drop(0))

In [109]:
df.head()

0      Country       cells
1  Afghanistan  23929713.0
2      Albania   3497950.0
3      Algeria  49873389.0
4      Andorra     80337.0
5       Angola  13323952.0

In [96]:
df['cell']=df['TELEPHONES - MOBILE CELLULAR']

In [97]:
df['cell']=df['TELEPHONES - MOBILE CELLULAR'].str.split('subscriptions per', n = 1, expand = True)
df['cell'] = df['TELEPHONES - MOBILE CELLULAR'].replace({'[A-Za-z]':''}, regex=True)

In [101]:
df['cells']=df['cell']
df['cells']=df['cell'].str.split(' 100', n = 1, expand = True)

In [103]:
df['cells'] = df['cells'].replace({'[A-Za-z]':''}, regex=True)

In [104]:
df['cells'] = df['cells'].replace({'[:]':''}, regex=True)

In [105]:
df['cells'] = df['cells'].replace({'[,]':''}, regex=True)

In [106]:
df['cells'] = pd.to_numeric(df['cells'], errors='coerce')

In [108]:
df=df.drop(df.columns[[1,2]], axis=1)

In [112]:
df.to_pickle('cells')