In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
import requests

In [17]:
area = pd.read_html('https://www.cia.gov/library/publications/the-world-factbook/fields/2147.html')

In [18]:
df=pd.DataFrame(area[0])

In [19]:
df.columns = df.iloc[0]
df=df.reindex(df.index.drop(0))

In [30]:
df.head()

0         Country       land
1     Afghanistan   652230.0
2        Akrotiri      123.0
3         Albania    28748.0
4         Algeria  2381740.0
5  American Samoa      224.0

In [21]:
df['land']=df['AREA(SQ KM)']
df['land'] = df['AREA(SQ KM)'].str.split('s', n = 1, expand = True)

In [22]:
df['land']=df['land'].replace({'[A-Za-z]':''}, regex=True)

In [23]:
df['land']=df['land'].replace({'[,]':''}, regex=True)

In [25]:
df['land']=df['land'].replace({'[:]':''}, regex=True)

In [27]:
df['land'] = pd.to_numeric(df['land'], errors='coerce')

In [29]:
df=df.drop(df.columns[[1]], axis=1)

In [31]:
df.to_pickle('land')