In [1]:
import requests
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
import requests
import pandas as pd

In [2]:
foreign_invest=pd.read_html("https://www.cia.gov/LIBRARY/publications/the-world-factbook/fields/2199.html")

In [3]:
df=pd.DataFrame(foreign_invest[0])

In [4]:
df.columns = df.iloc[0]
df=df.reindex(df.index.drop(0))

In [19]:
df.head()

,Country,STOCK OF DIRECT FOREIGN INVESTMENT - ABROAD,finv,mil,bil
1,Algeria,$2.123 billion (31 December 2017 est.) $2.025 ...,2.123000e+09,False,True
2,Angola,$23.66 billion (31 December 2017 est.) $23.02 ...,2.366000e+10,False,True
3,Argentina,$40.94 billion (31 December 2017 est.) $39.74 ...,4.094000e+10,False,True
4,Armenia,$228 million (2015 est.) $215 million (2014 est.),2.280000e+08,True,False
5,Australia,$443.4 billion (31 December 2017 est.) $441.4 ...,4.434000e+11,False,True

In [9]:
df['finv']=df['STOCK OF DIRECT FOREIGN INVESTMENT - ABROAD']
df['finv'] = df['STOCK OF DIRECT FOREIGN INVESTMENT - ABROAD'].str.split('(', n = 1, expand = True)

In [12]:
df['finv'] = df['finv'].replace({'[A-Za-z]':''}, regex=True)

In [13]:
df['finv'] = df['finv'].replace({'[$]':''}, regex=True)

In [14]:
df['mil']=df['STOCK OF DIRECT FOREIGN INVESTMENT - ABROAD'].str.contains("million")

In [15]:
df['bil']=df['STOCK OF DIRECT FOREIGN INVESTMENT - ABROAD'].str.contains("billion")

In [16]:
df['finv'] = pd.to_numeric(df['finv'], errors='coerce')

In [17]:
df.loc[df['mil'].eq(True) & df['finv'],'finv'] = df['finv'].multiply(1000000)

In [18]:
df.loc[df['bil'].eq(True) & df['finv'],'finv'] = df['finv'].multiply(1000000000)

In [20]:
df.to_pickle("finv_away")

In [3]:
df=pd.read_pickle('finv_away')

In [7]:
df.head()

0    Country          finv
1    Algeria  2.123000e+09
2     Angola  2.366000e+10
3  Argentina  4.094000e+10
4    Armenia  2.280000e+08
5  Australia  4.434000e+11

In [6]:
df=df.drop(df.columns[[1,3,4]], axis=1)

In [8]:
df.to_pickle("finv_away")

In [9]:
df.to_pickle("finv_away")

In [10]:
df.head()

0    Country          finv
1    Algeria  2.123000e+09
2     Angola  2.366000e+10
3  Argentina  4.094000e+10
4    Armenia  2.280000e+08
5  Australia  4.434000e+11

In [14]:
df=df.rename(index=str, columns={"finv": "invf"})

In [15]:
df.to_pickle("finv_away")