In [1]:
import pandas as pd
import numpy as np

In [2]:
df_gdp=pd.read_pickle('GDP_1')

In [3]:
df_land=pd.read_pickle('land')

df_rails=pd.read_pickle('rails')

df_air=pd.read_pickle('airports')

#df_cells=pd.read_pickle('cells')

df_labor=pd.read_pickle('labor')

df_pdebt=pd.read_pickle('public_debt')

In [4]:
dfs=[df_gdp, df_labor, df_land, df_rails,df_air, df_pdebt]
dfs = [df.set_index('Country') for df in dfs]

In [5]:
df=dfs[0].join(dfs[1:])

In [6]:
df.head()

                       GDP_1       labor       land   rails  airports  pdebt
Country
Afghanistan     6.945000e+10   8478000.0   652230.0     NaN      43.0  0.073
Albania         3.601000e+10   1198000.0    28748.0   677.0       4.0  0.712
Algeria         6.300000e+11  11820000.0  2381740.0  3973.0     157.0  0.258
American Samoa  6.580000e+08     17850.0      224.0     NaN       3.0  0.122
Andorra         3.327000e+09     39750.0      468.0     NaN       NaN  0.410

In [7]:
df['pdebt']= df['pdebt']*df['GDP_1']

In [8]:
df.shape

(237, 6)

In [9]:
df.isna().sum()

GDP_1        6
labor       39
land         0
rails       99
airports     8
pdebt       26
dtype: int64

In [10]:
df=df.dropna()
df=df.replace(0,1)

In [11]:
df.shape

(113, 6)

In [12]:
df.to_pickle('data')

In [13]:

df=df.apply(np.log)

In [14]:
df.to_pickle('log_data')