In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
import requests

In [2]:
labor = pd.read_html('https://www.cia.gov/library/publications/the-world-factbook/fields/2095.html')

In [3]:
df_labor=pd.DataFrame(labor[0])

In [4]:
df_labor.head()

                0                          1
0         Country                LABOR FORCE
1     Afghanistan  8.478 million (2017 est.)
2         Albania  1.198 million (2017 est.)
3         Algeria  11.82 million (2017 est.)
4  American Samoa         17,850 (2015 est.)

In [5]:
df_labor.columns = df_labor.iloc[0]

In [6]:
df_labor=df_labor.reindex(df_labor.index.drop(0))

In [7]:
#create new column labor that is a duplicate of labor force. 
df_labor['labor'] = df_labor['LABOR FORCE']

In [8]:
#Get string befor the first (
df_labor['labor'] = df_labor['LABOR FORCE'].str.split('(', n = 2, expand = True)

In [9]:
#remove all leters
df_labor['labor'] = df_labor['labor'].replace({'[A-Za-z]':''}, regex=True)

In [10]:
#Create boolan to indentify denomination
df_labor['mil']=df_labor['LABOR FORCE'].str.contains("million")

In [11]:
#Create boolean to indentify denomniation
df_labor['bil']=df_labor['LABOR FORCE'].str.contains("billion")

In [12]:
df_labor.dtypes

0
Country        object
LABOR FORCE    object
labor          object
mil            object
bil            object
dtype: object

In [13]:
#remove commas from string to enable numeric conversions
df_labor['labor'] = df_labor['labor'].replace({'[,]':''}, regex=True)

In [14]:
#Convert data type object to number
df_labor['labor'] = pd.to_numeric(df_labor['labor'], errors='coerce')

In [15]:
df_labor.head()

0         Country                LABOR FORCE      labor    mil    bil
1     Afghanistan  8.478 million (2017 est.)      8.478   True  False
2         Albania  1.198 million (2017 est.)      1.198   True  False
3         Algeria  11.82 million (2017 est.)     11.820   True  False
4  American Samoa         17,850 (2015 est.)  17850.000  False  False
5         Andorra              39,750 (2016)  39750.000  False  False

In [16]:
#if labor is in millions multipy by million 
df_labor.loc[df_labor['mil'].eq(True) & df_labor['labor'],'labor'] = df_labor['labor'].multiply(1000000)

In [17]:
#if labor is in billion multiply by billion
df_labor.loc[df_labor['bil'].eq(True) &\
             df_labor['labor'],'labor'] = df_labor['labor'].multiply(1000000000)

In [18]:
df_labor.head()

0         Country                LABOR FORCE       labor    mil    bil
1     Afghanistan  8.478 million (2017 est.)   8478000.0   True  False
2         Albania  1.198 million (2017 est.)   1198000.0   True  False
3         Algeria  11.82 million (2017 est.)  11820000.0   True  False
4  American Samoa         17,850 (2015 est.)     17850.0  False  False
5         Andorra              39,750 (2016)     39750.0  False  False

In [20]:
df_labor=df_labor.drop(df_labor.columns[[1,3,4,]], axis=1)

In [21]:
df_labor.head()

0         Country       labor
1     Afghanistan   8478000.0
2         Albania   1198000.0
3         Algeria  11820000.0
4  American Samoa     17850.0
5         Andorra     39750.0

In [22]:
df_labor.to_pickle('labor')