In [1]:
import requests
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
import requests
import pandas as pd

In [2]:
foreign_debt=pd.read_html("https://www.cia.gov/LIBRARY/publications/the-world-factbook/fields/2079.html")

In [3]:
df=pd.DataFrame(foreign_debt[0])

In [4]:
df.head()

                0                                                  1
0         Country                                    DEBT - EXTERNAL
1     Afghanistan  $2.84 billion (FY 10/11) $2.823 billion (FY 10...
2         Albania  $8.579 billion (31 December 2017 est.) $8.421 ...
3         Algeria  $8.163 billion (31 December 2017 est.) $5.088 ...
4  American Samoa                                                $NA

In [5]:
df.columns = df.iloc[0]

In [6]:
df=df.reindex(df.index.drop(0))

In [7]:
df['fdebt']=df['DEBT - EXTERNAL']
df['fdebt'] = df['DEBT - EXTERNAL'].str.split('(', n = 1, expand = True)

In [8]:
df['fdebt'] = df['fdebt'].replace({'[A-Za-z]':''}, regex=True)

In [9]:
df['fdebt'] = df['fdebt'].replace({'[$]':''}, regex=True)

In [10]:
df['fdebt'] = pd.to_numeric(df['fdebt'], errors='coerce')

In [11]:
df['mil']=df['DEBT - EXTERNAL'].str.contains("million")

In [12]:
df['bil']=df['DEBT - EXTERNAL'].str.contains("billion")

In [13]:
df.loc[df['mil'].eq(True) & df['fdebt'],'fdebt'] = df['fdebt'].multiply(1000000)

In [14]:
df.loc[df['bil'].eq(True) & df['fdebt'],'fdebt'] = df['fdebt'].multiply(1000000000)

In [15]:
df.to_pickle('foreign_debt')

In [16]:
df=pd.read_pickle('foreign_debt')

In [20]:
df.head()

0         Country         fdebt
1     Afghanistan  2.840000e+09
2         Albania  8.579000e+09
3         Algeria  8.163000e+09
4  American Samoa           NaN
5         Andorra  0.000000e+00

In [18]:
df=df.drop(df.columns[[1,3,4]], axis=1)

In [19]:
df.to_pickle('foreign_debt')

In [21]:
df.shape

(227, 2)