In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
import requests

In [5]:
tables = pd.read_html("https://www.cia.gov/library/publications/the-world-factbook/fields/2034.html")

In [59]:
df=pd.DataFrame(tables[0])

In [60]:
df.columns = df.iloc[0]

In [61]:
df=df.reindex(df.index.drop(0))

In [62]:
df['pct_1'] = df.iloc[:,1].astype(str).str[0:5]

In [63]:
df['year_1']=df.iloc[:,1].astype(str).str[14:18]

In [64]:
df['pct_2']= df.iloc[:,1].astype(str).str[20:25]

In [65]:
df['year_2']= df.iloc[:,1].astype(str).str[34:38]

In [66]:
df['pct_3']= df.iloc[:,1].astype(str).str[40:45]

In [67]:
df['year_3']= df.iloc[:,1].astype(str).str[54:58]

In [69]:
df.head()

,Country,MILITARY EXPENDITURES(% OF GDP),pct_1,year_1,pct_2,year_2,pct_3,year_3
1,Afghanistan,0.89% of GDP (2016) 0.99% of GDP (2015) 1.33% ...,0.89%,2016,0.99%,2015,1.33%,2014
2,Albania,1.22% of GDP (2017) 1.23% of GDP (2016) 1.16% ...,1.22%,2017,1.23%,2016,1.16%,2015
3,Algeria,6.55% of GDP (2016) 6.32% of GDP (2015) 5.54% ...,6.55%,2016,6.32%,2015,5.54%,2014
4,Angola,2.95% of GDP (2016) 3.52% of GDP (2015) 5.4% o...,2.95%,2016,3.52%,2015,5.4%,014)
5,Argentina,0.95% of GDP (2016) 0.86% of GDP (2015) 0.88% ...,0.95%,2016,0.86%,2015,0.88%,2014

In [73]:
df.loc[df['year_1'].eq('2017') & df['pct_1'],'pct_1'] = df['pct_2']

In [75]:
df.loc[df['year_1'].eq('2018') & df['pct_1'],'pct_1'] = df['pct_3']

In [75]:
df.loc[df['year_1'].eq('2017') & df['pct_1'],'pct_1'] = df['pct_2']

In [78]:
df.rename(index=str, columns={'pct_1': "2016_ME%"})

In [87]:
df.to_pickle("first_run")

In [ ]:
df=pd.read_pickle("first_run")