In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
import requests

In [32]:
public_debt = pd.read_html("https://www.cia.gov/LIBRARY/publications/the-world-factbook/fields/2186.html")

In [33]:
df_debt=pd.DataFrame(public_debt[0])

In [34]:
df_debt.columns = df_debt.iloc[0]

In [35]:
df_debt=df_debt.reindex(df_debt.index.drop(0))

In [36]:
df_debt.head()

0         Country                              PUBLIC DEBT(% OF GDP)
1     Afghanistan      7.3% of GDP (2017 est.) 8% of GDP (2016 est.)
2         Albania  71.2% of GDP (2017 est.) 73.3% of GDP (2016 est.)
3         Algeria  25.8% of GDP (2017 est.) 20.6% of GDP (2016 es...
4  American Samoa                           12.2% of GDP (2016 est.)
5         Andorra    41% of GDP (2014 est.) 41.4% of GDP (2013 est.)

In [37]:
df_debt['pdebt']=df_debt['PUBLIC DEBT(% OF GDP)']

In [38]:
df_debt['pdebt'] = df_debt['PUBLIC DEBT(% OF GDP)'].str.split('(', n = 1, expand = True)

In [39]:
df_debt['pdebt'] = df_debt['pdebt'].replace({'[A-Za-z]':''}, regex=True)

In [40]:
df_debt['pdebt'] = df_debt['pdebt'].replace({'[%]':''}, regex=True)

In [41]:
df_debt['pdebt'] = pd.to_numeric(df_debt['pdebt'], errors='coerce').div(100)

In [6]:
df_debt.head()

NameError: name 'df_debt' is not defined

In [43]:
df_debt.to_pickle('public_debt')

In [3]:
df=pd.read_pickle('public_debt')

In [7]:
df.head()

0         Country  pdebt
1     Afghanistan  0.073
2         Albania  0.712
3         Algeria  0.258
4  American Samoa  0.122
5         Andorra  0.410

In [5]:
df=df.drop(df.columns[[1]], axis=1)

In [9]:
df.to_pickle('public_debt')