In [4]:
import pandas as pd

In [8]:
rails = pd.read_html('https://www.cia.gov/library/publications/the-world-factbook/fields/2121.html')

In [9]:
df=pd.DataFrame(rails[0])
df.columns = df.iloc[0]
df=df.reindex(df.index.drop(0))

In [23]:
df.head()

0    Country    rails
1    Albania    677.0
2    Algeria   3973.0
3     Angola   2852.0
4  Argentina  36917.4
5    Armenia    780.0

In [12]:
df['rails']=df['RAILWAYS(KM)']
df['rails']=df['RAILWAYS(KM)'].str.split('k', n = 1, expand = True)

In [13]:
df['rails'] = df['rails'].replace({'[A-Za-z]':''}, regex=True)

In [15]:
df['rails'] = df['rails'].replace({'[:]':''}, regex=True)

In [19]:
df['rails'] = df['rails'].replace({'[,]':''}, regex=True)

In [21]:
df['rails'] = pd.to_numeric(df['rails'], errors='coerce')

In [22]:
df=df.drop(df.columns[[1]], axis=1)

In [24]:
df.to_pickle('rails')