In [24]:
import pandas as pd

In [25]:
rails = pd.read_html('https://www.cia.gov/library/publications/the-world-factbook/fields/2053.html')

In [26]:
df=pd.DataFrame(rails[0])
df.columns = df.iloc[0]
df=df.reindex(df.index.drop(0))

In [33]:
df.head()

0         Country  airports
1     Afghanistan      43.0
2        Akrotiri       1.0
3         Albania       4.0
4         Algeria     157.0
5  American Samoa       3.0

In [28]:
df['airports']=df['AIRPORTS']
df['airports']=df['AIRPORTS'].str.split('(', n = 1, expand = True)

In [29]:
df['airports'] = df['airports'].replace({'[,]':''}, regex=True)

In [30]:
df['airports'] = pd.to_numeric(df['airports'], errors='coerce')

In [31]:
df=df.drop(df.columns[[1]], axis=1)

In [32]:
df.to_pickle('airports')